<h1> Passenger Details</h1>

<div>
  <button (click) = "showDetails('all')">All</button>
  <button (click) = "showDetails('Premium')">Premium</button>
  <button (click) = "showDetails('Firstclass')">First Class</button>
  <button (click) = "showDetails('Secondclass')">Second Class</button>
</div>


<ul *ngIf = "pname && ptype">
  <li [ngClass] = ptype>{{ptype}}</li>
  <li>{{pname}}</li>
</ul>


<table *ngIf = "allPass && !pname">
  <thead>
    <th>Passenger Name</th>
    <th>TicketType</th>
  </thead>
  <tr *ngFor = "let pass of passengers">
    <td>{{pass.name}}</td>
    <td>{{pass.ticketType}}</td>
  </tr>

</table>
